
<<<<<<< HEAD
body {
    
}


h2 {
    font-family: Lobster;
=======

h2 {
    color: yellow;
>>>>>>> wallpaper and new title
}

.ratings {
    color: yellow;
    font-family: avenir;
    font-size: 18px;
<<<<<<< HEAD
}

.btn-primary {
    margin-left: 10px;
    background: yellow;
    color: blue;
}


.form-control {
    width: 30%;
=======
>>>>>>> wallpaper and new title
}



.btn-primary {
    margin-left: 10px;
    background: yellow;
    color: blue;
}


.form-control {
    width: 30%;
}

#add {
    font-size: 20px;
    color: white;
}