
body {
    
}


h2 {
    font-family: Lobster;
}

.ratings {
    color: yellow;
    font-family: avenir;
    font-size: 18px;
}

.btn-primary {
    margin-left: 10px;
    background: yellow;
    color: blue;
}


.form-control {
    width: 30%;
}
